In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Importing df_ords_checked
df_ords_checked = pd.read_csv(r'C:\Users\49157\Downloads\Instacart Basket Analysis\02 Data\Prepared Data\orders_checked.csv', index_col = False)

In [5]:
# Dropping the unnamed column
df_ords_checked.drop(df_ords_checked.columns[df_ords_checked.columns.str.contains('Unnamed', case=False)], axis=1, inplace=True)

In [6]:
df_ords_checked.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,new_customer
0,2539329,1,prior,1,2,8,NaN,True
1,2398795,1,prior,2,3,7,15.0,False
2,473747,1,prior,3,3,12,21.0,False
3,2254736,1,prior,4,4,7,29.0,False
4,431534,1,prior,5,4,15,28.0,False

In [7]:
# Renaming columns
df_ords_checked.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [8]:
df_ords_checked.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer
0,2539329,1,prior,1,2,8,NaN,True
1,2398795,1,prior,2,3,7,15.0,False
2,473747,1,prior,3,3,12,21.0,False
3,2254736,1,prior,4,4,7,29.0,False
4,431534,1,prior,5,4,15,28.0,False

In [17]:
# Removing the eval_set
df_ords_checked = df_ords_checked.drop(columns = ['eval_set'])

In [18]:
df_ords_checked.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [ ]:
# Creating a path

In [19]:
path = r'C:\Users\49157\Downloads\Instacart Basket Analysis'
path

'C:\\Users\\49157\\Downloads\\Instacart Basket Analysis'

In [ ]:
# Exporting df_ords_checked

In [20]:
df_ords_checked.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))