In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Importing df_prods data frame
df_prods = pd.read_csv(r'C:\Users\49157\Downloads\Instacart Basket Analysis\02 Data\Original Data\4.3_orders_products\products.csv', index_col = False)

In [3]:
# Finding missing values from the df_prods data frame
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [4]:
# Creating a subset of the data frame containing only the values in question
df_nan = df_prods[df_prods['product_name'].isnull() == True]
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [5]:
# Running the df_prods.shape function
df_prods.shape

(49693, 5)

In [6]:
# Creating a new data frame for df_prods_clean, we want non-missing values in the data frame
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]
df_prods_clean.shape

(49677, 5)

In [8]:
# Finding duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [9]:
# Addressing Duplicates
df_prods_clean.shape

(49677, 5)

In [10]:
# Creating a data frame for the cleaned products without duplicates using the drop duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()
df_prods_clean_no_dups.shape

(49672, 5)

In [12]:
# Exporting the data frame for the cleaned products file without duplicates
path = r'C:\Users\49157\Downloads\Instacart Basket Analysis'

In [13]:
path

'C:\\Users\\49157\\Downloads\\Instacart Basket Analysis'

In [14]:
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

# For order data frame --- performing data consistency checks

In [15]:
df_ords = pd.read_csv(r'C:\Users\49157\Downloads\Instacart Basket Analysis\02 Data\Original Data\4.3_orders_products\orders.csv', index_col = False)

In [16]:
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [ ]:
# Checking for data types

In [17]:
df_ords.dtypes

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [18]:
# step 5 -- Checking for missing values in the orders data frame
df_ords.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [19]:
# Step 6 -- Address the missing values using an appropriate method.
df_ords_clean = df_ords
df_ords_clean['new_customer'] = df_ords['days_since_prior_order'].isnull() == True
df_ords_clean

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,new_customer
0,2539329,1,prior,1,2,8,NaN,True
1,2398795,1,prior,2,3,7,15.0,False
2,473747,1,prior,3,3,12,21.0,False
3,2254736,1,prior,4,4,7,29.0,False
4,431534,1,prior,5,4,15,28.0,False
...,...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0,False
3421079,1854736,206209,prior,11,4,10,30.0,False
3421080,626363,206209,prior,12,1,12,18.0,False
3421081,2977660,206209,prior,13,1,12,7.0,False
3421082,272231,206209,train,14,6,14,30.0,False

In [20]:
# checking for duplicate values in your df_ords data.
df_dups = df_ords_clean[df_ords_clean.duplicated()]
df_dups

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order, new_customer]
Index: []

In [26]:
# Creating a data frame for the cleaned products without duplicates using the drop duplicates
df_ords_clean_no_dups = df_ords_clean.drop_duplicates()
df_ords_clean_no_dups.shape

(3421083, 8)

In [21]:
df_ords.shape

(3421083, 8)

In [23]:
# Exporting the data frame for the cleaned products file without duplicates
path = r'C:\Users\49157\Downloads\Instacart Basket Analysis'

In [24]:
path

'C:\\Users\\49157\\Downloads\\Instacart Basket Analysis'

In [27]:
df_ords_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))