In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
 #import the orders_products_combined dataframe from the pickle file you just saved.
df_orders_products_combined = pd.read_pickle (r'C:\Users\49157\Downloads\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl')

In [ ]:
# Check the shape of the imported dataframe (it should be the same as the one you exportedâ€”always check!).

In [4]:
df_orders_products_combined.shape

(32434489, 11)

In [3]:
# Importing the cleaned products data frame
df_products_checked = pd.read_csv (r'C:\Users\49157\Downloads\Instacart Basket Analysis\02 Data\Prepared Data\products_checked.csv', index_col = False)

In [4]:
# Checking the output
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [5]:
# Dropping the unnamed column
df_products_checked = df_products_checked.drop(df_products_checked.columns[df_products_checked.columns.str.contains('Unnamed', case=False)], axis=1, inplace= True)

In [ ]:
df_products_checked.head()

In [ ]:
# Merging both data frames

In [ ]:
df_merged_large = df_orders_products_combined.merge(df_products_checked, on ='product_id', how='inner')

In [ ]:
df_merged_large.head()

In [19]:
df_merged_large ['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [20]:
df_merged_large. shape

(32404859, 15)

In [ ]:
# Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size).

In [22]:
path = r'C:\Users\49157\Downloads\Instacart Basket Analysis'
path

'C:\\Users\\49157\\Downloads\\Instacart Basket Analysis'

In [23]:
df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.csv'))