In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [ ]:
#import your main orders_products_merged dataframe (the one you exported after completing the task in the previous Exercise).
ords_prods_merge = pd.read_pickle (r'C:\Users\49157\Downloads\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_merged_derived_variables.pkl')

In [ ]:
# Shape and head—the first two functions you should perform on every dataframe you import

In [3]:
ords_prods_merge.shape

(32404859, 21)

In [4]:
ords_prods_merge.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,_merge,product_name,aisle_id,department_id,prices,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Average orders
1,1,2539329,1,prior,1,2,8,NaN,14084,2,...,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Average orders
2,2,2539329,1,prior,1,2,8,NaN,12427,3,...,both,Original Beef Jerky,23,19,4.4,Low-range product,Low-range product,Regularly busy,Regularly busy,Average orders
3,3,2539329,1,prior,1,2,8,NaN,26088,4,...,both,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Low-range product,Regularly busy,Regularly busy,Average orders
4,4,2539329,1,prior,1,2,8,NaN,26405,5,...,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Low-range product,Regularly busy,Regularly busy,Average orders

In [5]:
# find the aggregated mean of the “order_number” column grouped by “department_id” for the entire dataframe. 
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [ ]:
# aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe
department_id
1     14.800024
2     17.091743
3     17.913544
4     17.893092
5     15.214270
6     15.382135
7     17.694027
8     16.458105
9     15.957363
10    20.091818
11    16.482026
12    15.615061
13    16.484023
14    17.524632
15    15.691875
16    18.014071
17    16.150593
18    19.602850
19    17.631340
20    17.138607
21    21.956893

# Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.
# The entire data frame
    - The mean `order_number` grouped by `department_id` shows the overall average order numbers across all records in the DataFrame.
    - This provides a broad view of customer behavior and patterns of order for each department.

# The subset data frame
    - The subset shows mean order numbers that are slightly lower and higher in some departments compared to the entire DataFrame.
    - This indicates that filtering for higher order numbers can impact the calculations of mean values, resulting in different average values for each department

# When we compare both data frames
    - For most departments, the mean order number in the subset is slightly different from the mean order number for the entire DataFrame.
    - Departments with  higher order numbers might see a decrease in their means due to the exclusion of lower order numbers.
    - The analysis and insights can vary depending on the subset chosen, which can influence decision-making and formulation of strategy

 # Question 5

In [7]:
# Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)
ords_prods_merge.head(15)

C:\Users\49157\AppData\Local\Temp\ipykernel_23968\3896280187.py:2: FutureWarning: The provided callable <function max at 0x000001B636EC54E0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,product_name,aisle_id,department_id,prices,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,1,2539329,1,prior,1,2,8,NaN,14084,2,...,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Average orders,10
2,2,2539329,1,prior,1,2,8,NaN,12427,3,...,Original Beef Jerky,23,19,4.4,Low-range product,Low-range product,Regularly busy,Regularly busy,Average orders,10
3,3,2539329,1,prior,1,2,8,NaN,26088,4,...,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Low-range product,Regularly busy,Regularly busy,Average orders,10
4,4,2539329,1,prior,1,2,8,NaN,26405,5,...,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Low-range product,Regularly busy,Regularly busy,Average orders,10
5,5,2398795,1,prior,2,3,7,15.0,196,1,...,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Slowest days,Fewest orders,10
6,6,2398795,1,prior,2,3,7,15.0,10258,2,...,Pistachios,117,19,3.0,Low-range product,Low-range product,Regularly busy,Slowest days,Fewest orders,10
7,7,2398795,1,prior,2,3,7,15.0,12427,3,...,Original Beef Jerky,23,19,4.4,Low-range product,Low-range product,Regularly busy,Slowest days,Fewest orders,10
8,8,2398795,1,prior,2,3,7,15.0,13176,4,...,Bag of Organic Bananas,24,4,10.3,Mid-range product,Mid-range product,Regularly busy,Slowest days,Fewest orders,10
9,9,2398795,1,prior,2,3,7,15.0,26088,5,...,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Low-range product,Regularly busy,Slowest days,Fewest orders,10
10,10,2398795,1,prior,2,3,7,15.0,13032,6,...,Cinnamon Toast Crunch,121,14,4.0,Low-range product,Low-range product,Regularly busy,Slowest days,Fewest orders,10
11,11,473747,1,prior,3,3,12,21.0,196,1,...,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Slowest days,Most orders,10
12,12,473747,1,prior,3,3,12,21.0,12427,2,...,Original Beef Jerky,23,19,4.4,Low-range product,Low-range product,Regularly busy,Slowest days,Most orders,10
13,13,473747,1,prior,3,3,12,21.0,10258,3,...,Pistachios,117,19,3.0,Low-range product,Low-range product,Regularly busy,Slowest days,Most orders,10
14,14,473747,1,prior,3,3,12,21.0,25133,4,...,Organic String Cheese,21,16,8.6,Mid-range product,Mid-range product,Regularly busy,Slowest days,Most orders,10

In [ ]:
# Executing the code to set the flags and printing the frequency of your new “loyalty_flag” column using the value_counts() function:
# To create your flag, you’ll need some criteria. You can use the following:

If the maximum orders the user has made is over 40, then the customer will be labeled a “Loyal customer.”
If the maximum orders the user has made is over 10 but less than or equal to 40, then the customer will be labeled a “Regular customer.”
If the maximum orders the user has made is less than or equal to 10, then the customer will be labeled a “New customer.”

In [8]:
# If the maximum orders the user has made is over 40, then the customer will be labeled a “Loyal customer.”
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

# If the maximum orders the user has made is over 10 but less than or equal to 40, then the customer will be labeled a “Regular customer.”
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

#If the maximum orders the user has made is less than or equal to 10, then the customer will be labeled a “New customer.”
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [10]:
ords_prods_merge['loyalty_flag']. value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [11]:
# Executing loyalty flags in the entire data frame
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number', 'max_order']].head(20)

    user_id  loyalty_flag  order_number  max_order
0         1  New customer             1         10
1         1  New customer             1         10
2         1  New customer             1         10
3         1  New customer             1         10
4         1  New customer             1         10
5         1  New customer             2         10
6         1  New customer             2         10
7         1  New customer             2         10
8         1  New customer             2         10
9         1  New customer             2         10
10        1  New customer             2         10
11        1  New customer             3         10
12        1  New customer             3         10
13        1  New customer             3         10
14        1  New customer             3         10
15        1  New customer             3         10
16        1  New customer             4         10
17        1  New customer             4         10
18        1  New customer             4         10
19        1  New customer             4         10

In [12]:
#  Determine whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

# Question 6

In [ ]:
# Creating a loyalty flag using the transform() and loc() functions.
ords_prods_merge['spender_types'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)
ords_prods_merge.head(15)

In [ ]:
# Create a spending flag for each user based on the average price across all their orders.

In [26]:
# If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
ords_prods_merge.loc[ords_prods_merge['spender_types'] < 10, 'spender_flag'] = 'Low spender'

# If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”ords_prods_merge.loc[ords_prods_merge['spender_types'] >= 10, 'spender_flag'] = 'High spender'

In [27]:
ords_prods_merge['spender_flag']. value_counts(dropna = False)

spender_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [35]:
# Executing loyalty flags in the entire data frame
ords_prods_merge[['user_id', 'prices', 'spender_types', 'spender_flag']].head(20)

    user_id  prices  spender_types spender_flag
0         1     9.0       6.367797  Low spender
1         1    12.5       6.367797  Low spender
2         1     4.4       6.367797  Low spender
3         1     4.7       6.367797  Low spender
4         1     1.0       6.367797  Low spender
5         1     9.0       6.367797  Low spender
6         1     3.0       6.367797  Low spender
7         1     4.4       6.367797  Low spender
8         1    10.3       6.367797  Low spender
9         1     4.7       6.367797  Low spender
10        1     4.0       6.367797  Low spender
11        1     9.0       6.367797  Low spender
12        1     4.4       6.367797  Low spender
13        1     3.0       6.367797  Low spender
14        1     8.6       6.367797  Low spender
15        1     3.2       6.367797  Low spender
16        1     9.0       6.367797  Low spender
17        1     4.4       6.367797  Low spender
18        1     3.0       6.367797  Low spender
19        1     8.6       6.367797  Low spender

In [21]:
# Checking the output
ords_prods_merge.head(20)

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,prices,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,spender_types,spender_flag
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,9.0,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Average orders,10,Low spender,14.0,High spender
1,1,2539329,1,prior,1,2,8,NaN,14084,2,...,12.5,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Average orders,10,High spender,14.0,High spender
2,2,2539329,1,prior,1,2,8,NaN,12427,3,...,4.4,Low-range product,Low-range product,Regularly busy,Regularly busy,Average orders,10,Low spender,14.0,High spender
3,3,2539329,1,prior,1,2,8,NaN,26088,4,...,4.7,Low-range product,Low-range product,Regularly busy,Regularly busy,Average orders,10,Low spender,14.0,High spender
4,4,2539329,1,prior,1,2,8,NaN,26405,5,...,1.0,Low-range product,Low-range product,Regularly busy,Regularly busy,Average orders,10,Low spender,14.0,High spender
5,5,2398795,1,prior,2,3,7,15.0,196,1,...,9.0,Mid-range product,Mid-range product,Regularly busy,Slowest days,Fewest orders,10,Low spender,14.0,High spender
6,6,2398795,1,prior,2,3,7,15.0,10258,2,...,3.0,Low-range product,Low-range product,Regularly busy,Slowest days,Fewest orders,10,Low spender,14.0,High spender
7,7,2398795,1,prior,2,3,7,15.0,12427,3,...,4.4,Low-range product,Low-range product,Regularly busy,Slowest days,Fewest orders,10,Low spender,14.0,High spender
8,8,2398795,1,prior,2,3,7,15.0,13176,4,...,10.3,Mid-range product,Mid-range product,Regularly busy,Slowest days,Fewest orders,10,High spender,14.0,High spender
9,9,2398795,1,prior,2,3,7,15.0,26088,5,...,4.7,Low-range product,Low-range product,Regularly busy,Slowest days,Fewest orders,10,Low spender,14.0,High spender
10,10,2398795,1,prior,2,3,7,15.0,13032,6,...,4.0,Low-range product,Low-range product,Regularly busy,Slowest days,Fewest orders,10,Low spender,14.0,High spender
11,11,473747,1,prior,3,3,12,21.0,196,1,...,9.0,Mid-range product,Mid-range product,Regularly busy,Slowest days,Most orders,10,Low spender,14.0,High spender
12,12,473747,1,prior,3,3,12,21.0,12427,2,...,4.4,Low-range product,Low-range product,Regularly busy,Slowest days,Most orders,10,Low spender,14.0,High spender
13,13,473747,1,prior,3,3,12,21.0,10258,3,...,3.0,Low-range product,Low-range product,Regularly busy,Slowest days,Most orders,10,Low spender,14.0,High spender
14,14,473747,1,prior,3,3,12,21.0,25133,4,...,8.6,Mid-range product,Mid-range product,Regularly busy,Slowest days,Most orders,10,Low spender,14.0,High spender
15,15,473747,1,prior,3,3,12,21.0,30450,5,...,3.2,Low-range product,Low-range product,Regularly busy,Slowest days,Most orders,10,Low spender,14.0,High spender
16,16,2254736,1,prior,4,4,7,29.0,196,1,...,9.0,Mid-range product,Mid-range product,Least busy,Slowest days,Fewest orders,10,Low spender,14.0,High spender
17,17,2254736,1,prior,4,4,7,29.0,12427,2,...,4.4,Low-range product,Low-range product,Least busy,Slowest days,Fewest orders,10,Low spender,14.0,High spender
18,18,2254736,1,prior,4,4,7,29.0,10258,3,...,3.0,Low-range product,Low-range product,Least busy,Slowest days,Fewest orders,10,Low spender,14.0,High spender
19,19,2254736,1,prior,4,4,7,29.0,25133,4,...,8.6,Mid-range product,Mid-range product,Least busy,Slowest days,Fewest orders,10,Low spender,14.0,High spender

# Question 7

In [ ]:
#  Creating an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column..
ords_prods_merge['customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)
ords_prods_merge.head(15)

In [31]:
# The criteria for the order frequency flag should be as follows:
# If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
ords_prods_merge.loc[ords_prods_merge['customer_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'

# If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
ords_prods_merge.loc[(ords_prods_merge['customer_frequency'] <= 20) & (ords_prods_merge['customer_frequency'] > 10), 'frequency_flag'] = 'Regular customer'

# If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”
ords_prods_merge.loc[ords_prods_merge['customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [32]:
ords_prods_merge['frequency_flag']. value_counts(dropna = False)

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

In [36]:
# Executing loyalty flags in the entire data frame
ords_prods_merge[['user_id', 'days_since_prior_order', 'customer_frequency', 'frequency_flag']].head(20)

    user_id  days_since_prior_order  customer_frequency         frequency_flag
0         1                     NaN                20.5  Non-frequent customer
1         1                     NaN                20.5  Non-frequent customer
2         1                     NaN                20.5  Non-frequent customer
3         1                     NaN                20.5  Non-frequent customer
4         1                     NaN                20.5  Non-frequent customer
5         1                    15.0                20.5  Non-frequent customer
6         1                    15.0                20.5  Non-frequent customer
7         1                    15.0                20.5  Non-frequent customer
8         1                    15.0                20.5  Non-frequent customer
9         1                    15.0                20.5  Non-frequent customer
10        1                    15.0                20.5  Non-frequent customer
11        1                    21.0                20.5  Non-frequent customer
12        1                    21.0                20.5  Non-frequent customer
13        1                    21.0                20.5  Non-frequent customer
14        1                    21.0                20.5  Non-frequent customer
15        1                    21.0                20.5  Non-frequent customer
16        1                    29.0                20.5  Non-frequent customer
17        1                    29.0                20.5  Non-frequent customer
18        1                    29.0                20.5  Non-frequent customer
19        1                    29.0                20.5  Non-frequent customer

In [33]:
# Checking the output
ords_prods_merge.head(20)

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,spender_types,spender_flag,customer_frequency,frequency_flag
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,Low spender,6.367797,Low spender,20.5,Non-frequent customer
1,1,2539329,1,prior,1,2,8,NaN,14084,2,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,High spender,6.367797,Low spender,20.5,Non-frequent customer
2,2,2539329,1,prior,1,2,8,NaN,12427,3,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,Low spender,6.367797,Low spender,20.5,Non-frequent customer
3,3,2539329,1,prior,1,2,8,NaN,26088,4,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,Low spender,6.367797,Low spender,20.5,Non-frequent customer
4,4,2539329,1,prior,1,2,8,NaN,26405,5,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,Low spender,6.367797,Low spender,20.5,Non-frequent customer
5,5,2398795,1,prior,2,3,7,15.0,196,1,...,Mid-range product,Regularly busy,Slowest days,Fewest orders,10,Low spender,6.367797,Low spender,20.5,Non-frequent customer
6,6,2398795,1,prior,2,3,7,15.0,10258,2,...,Low-range product,Regularly busy,Slowest days,Fewest orders,10,Low spender,6.367797,Low spender,20.5,Non-frequent customer
7,7,2398795,1,prior,2,3,7,15.0,12427,3,...,Low-range product,Regularly busy,Slowest days,Fewest orders,10,Low spender,6.367797,Low spender,20.5,Non-frequent customer
8,8,2398795,1,prior,2,3,7,15.0,13176,4,...,Mid-range product,Regularly busy,Slowest days,Fewest orders,10,High spender,6.367797,Low spender,20.5,Non-frequent customer
9,9,2398795,1,prior,2,3,7,15.0,26088,5,...,Low-range product,Regularly busy,Slowest days,Fewest orders,10,Low spender,6.367797,Low spender,20.5,Non-frequent customer
10,10,2398795,1,prior,2,3,7,15.0,13032,6,...,Low-range product,Regularly busy,Slowest days,Fewest orders,10,Low spender,6.367797,Low spender,20.5,Non-frequent customer
11,11,473747,1,prior,3,3,12,21.0,196,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,Low spender,6.367797,Low spender,20.5,Non-frequent customer
12,12,473747,1,prior,3,3,12,21.0,12427,2,...,Low-range product,Regularly busy,Slowest days,Most orders,10,Low spender,6.367797,Low spender,20.5,Non-frequent customer
13,13,473747,1,prior,3,3,12,21.0,10258,3,...,Low-range product,Regularly busy,Slowest days,Most orders,10,Low spender,6.367797,Low spender,20.5,Non-frequent customer
14,14,473747,1,prior,3,3,12,21.0,25133,4,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,Low spender,6.367797,Low spender,20.5,Non-frequent customer
15,15,473747,1,prior,3,3,12,21.0,30450,5,...,Low-range product,Regularly busy,Slowest days,Most orders,10,Low spender,6.367797,Low spender,20.5,Non-frequent customer
16,16,2254736,1,prior,4,4,7,29.0,196,1,...,Mid-range product,Least busy,Slowest days,Fewest orders,10,Low spender,6.367797,Low spender,20.5,Non-frequent customer
17,17,2254736,1,prior,4,4,7,29.0,12427,2,...,Low-range product,Least busy,Slowest days,Fewest orders,10,Low spender,6.367797,Low spender,20.5,Non-frequent customer
18,18,2254736,1,prior,4,4,7,29.0,10258,3,...,Low-range product,Least busy,Slowest days,Fewest orders,10,Low spender,6.367797,Low spender,20.5,Non-frequent customer
19,19,2254736,1,prior,4,4,7,29.0,25133,4,...,Mid-range product,Least busy,Slowest days,Fewest orders,10,Low spender,6.367797,Low spender,20.5,Non-frequent customer

In [34]:
# Exporting dataframe as a pickle file and storing correctly in your “Prepared Data” folder.
path = r'C:\Users\49157\Downloads\Instacart Basket Analysis'
path

'C:\\Users\\49157\\Downloads\\Instacart Basket Analysis'

In [37]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged_derived_aggregated_variables.pkl'))